# Build artifacts
[Bb]in/
[Oo]bj/
artifacts/

# User-specific files
*.user
*.suo
*.userprefs
*.pidb
*.DotSettings.user

# JetBrains Rider & VS Code
.idea/
.idea_modules/
.vscode/

# Visual Studio
.vs/
*.psess

# Installer / Publish outputs
**/publish/
**/installer/

# Logs & Packages
*.log
*.tlog
*.nupkg
project.lock.json
project.fragment.lock.json

# OS-specific files (macOS & Windows)
.DS_Store
Thumbs.db

# Avalonia Designer-related files
**/*.Designer.cs

# Keep migration designers as they're required for updating db
!src/easpace.Desktop/Migrations/*.Designer.cs

# Avalonia-specific files
*.g.cs
*.g.i.cs

# Local VM config
Directory.Build.props

